<h1> Lists </h1>

<form method="POST" action="/lists/new">
  <input type="text" name="name" placeholder="List Name">
  <input type="text" name="tasks[name]" placeholder="Create your first task">
  <input type="submit" id="submit">
</form>